<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style.css">
  
</head>
<body>
  <div id="app1" class="d-none">
   <div :class="changeCol" class="box" v-on:click="isYellow = !isYellow"></div>
   <div class="box" :class="{yellow : isYellow}"></div>
   <div class="box" :class="[color, {yellow:isYellow}]"></div>
   <hr>
   <input type="text" v-model="color">
  </div>
  
  <div id="app2">
    <div class="box" :style="{backgroundColor : color}"></div>
    <div class="box" :style="customStyle"></div>
    <div class="box" :style="[{backgroundColor : color}, {height : height + 'px'}]"></div>
    <hr>
    <input type="text" v-model="height">
    <input type="text" v-model="color">
  </div>

  <script src="app.js"></script>
</body>
</html>